@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
    body{
        background-color: #BABABA;
    }
        :root{
            --dnc-color-blue: #0C70F2;
            --dnc-white: #FFFFFF;
            --dnc-hover-gray: #BABABA;
            --dnc-input-gray: #F2F2F2;
        }

/*------------------------------------------------*/

header{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    background-color: var(--dnc-color-blue);
    width: 100%;
    height: 82px;
}
    header h1{
        font-size: 40px;
        color: var(--dnc-white);
        margin: 16px 0 0 55px;
    }
    #hLinks{
        text-align: right;
        margin: 30px 50px 0 0;
    }
        #links{
            color: var(--dnc-white);
            font-size: 20px;
            font-weight: 800;
            text-decoration: none;
            margin: 0 15px 0 15px;
            width: 130px;
            height: 30px;
        }
            #links:hover{
                color: var(--dnc-hover-gray);
                transition: 0.5s;
            }

/*------------------------------------------------*/

#info{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 16% 44% 40%;
    margin-top: 50px;
    align-items: center;
}
    #info h1{
        font-size: 35px;
        text-align: left;
    }
    #info img{
        margin-left: 25px;
    }

/*------------------------------------------------*/

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------------------------------*/

#formulario{
    background-color: var(--dnc-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-top: 120px;
    width: 850px;
}
    #formulario label{
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    #formulario input{
        background-color: var(--dnc-input-gray);
        font-size: 20px;
        font-weight: 400;
        width: 630px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: none;
    }
        #inputs{
            display: flex;
            flex-direction: column;
            margin: 90px 0 90px 0;
        }
    button{
        background-color: var(--dnc-color-blue);
        color: var(--dnc-white);
        cursor: pointer;
        font-size: 30px;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        width: 630px;
        height: 55px;
        margin-top: 40px;
        box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);;
    }
        #latlong{
            display: flex;
        }
            #latlong input{
                width: 308px;
            }
                #lat{
                    margin-right: 14px;
                }

/*------------------------------------------------*/

#cepHeader{
    display: flex;
    margin: 75px 0 30px 0;
    align-items: center;
}
    #cepHeader h1{
        font-size: 35px;
        width: 800;
        margin-right: 30px;
    }

/*------------------------------------------------*/

#cepSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dnc-color-blue);
    width: 1024px;
    height: 75px;
    border-radius: 25px 25px 0 0;
}
    #cepSection p{
        font-size: 20px;
        font-weight: 800;
        color: var(--dnc-input-gray);
    }

/*------------------------------------------------*/

#cepSection2{
    display: flex;
    justify-content: space-around;
    background-color: var(--dnc-white);
    width: 1024px;
    height: 75px;
    border-radius: 0 0 25px 25px;
    margin-top: 0;
    margin-bottom: 50px;
}
    #cepSection2 input{
        font-size: 20px;
        font-weight: 600;
        border: none;
        text-align: center;
    }

/*------------------------------------------------*/

#previsaoHeader{
    display: flex;
    margin: 100px 0 30px 0;
    align-items: center;
}
    #previsaoHeader h1{
        font-size: 35px;
        width: 800;
        margin-right: 30px;
    }
#previsao{
    background-color: var(--dnc-white);
    width: 1024px;
    height: 75px;
    border-radius: 25px;
    border: solid 2px var(--dnc-color-blue);
    margin: 10px 0 100px 0;
}
    #answer{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 25px;
    }

/*------------------------------------------------*/

footer{
    background-color: var(--dnc-color-blue);
    text-align: right;
    width: 100%;
    height: 84px;
    padding: 30px;
}
    footer a{
        font-size: 20px;
        font-weight: 800;
        color: var(--dnc-white);
        text-decoration: none;
        margin-right: 20px;
    }
        footer a:hover{
            color: var(--dnc-hover-gray);
            transition: 0.5s;
        }
    footer span{
        font-size: 20px;
        font-weight: 800;
        color: var(--dnc-white);
        margin-right: 15px;
    }

@media (max-width: 768px) {

    /* HEADER */
    header{
        width: 100%;
        height: 55px;
    }
        header h1{
            display: flex;
            align-items: center;
            font-size: 24px;
            padding-left: 25px;
            margin: 0;
        }
        #hLinks{
            display: none;
        }

    /* ARTICLE */
    #info{
        display: grid;
        grid-template-columns: 5% 65% 30%;
        margin-top: 30px;
    }
        #info div h1{
            font-size: 18px;
        }
        #info img{
            width: 80px;
            margin: auto;
            display: block;
        }

    /* FORMULARIO de INPUTS */
    #formulario{
        margin-top: 50px;
        width: 95%;
    }
        #inputs{
            margin: 25px 0 25px 0;
        }
            #inputs label{
                font-size: 15px;
                margin-left: 10px;
                margin-bottom: 10px;
            }
            #inputs input{
                font-size: 12px;
                width: 100%;
                padding: 0 10px 0 10px;
            }
            #inputs button{
                font-size: 14px;
                margin-top: 20px;
                width: 100%;
                height: 36px;
            }
            #latlong{
                width: 100%;
            }

    /* BUSCA por CEP */
    #cepHeader{
        margin-top: 30px;
        margin-bottom: 15px;
    }
        #cepHeader h1{
            font-size: 20px;
            margin: 0;
        }
        #cepHeader img{
            width: 60px;
            padding-left: 15px;
        }
    #cepSection{
        width: 95%;
        height: 40px;
    }
        #cepSection p{
            font-size: 12px;
            width: 110px;
            text-align: center;
        }
    #cepSection2{
        width: 95%;
        height: 40px;
        margin: 0;
    }
        #cepSection2 input{
            width: 110px;
            border-radius: 10px;
            font-size: 12px;
        }

    /* PREVISÃO do TEMPO */
    #previsaoHeader{
        margin-top: 30px;
        margin-bottom: 15px;
    }
        #previsaoHeader h1{
            font-size: 20px;
            margin: 0;
        }
        #previsaoHeader img{
            width: 60px;
            padding-left: 15px;
        }
    #previsao{
        width: 95%;
        height: 40px;
        margin-top: 0;
        margin-bottom: 30px;
    }
        #answer{
            margin-top: 10px;
            font-size: 12px;
        }

    /* FOOTER */
    footer{
        height: 60px;
        padding: 0;
    }
        footer a{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: 600;
            padding-top: 8px;
        }
        footer span{
            display: none;
        }
}